
input {
    font-size: 16px;
}
input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0.5em 1em;
    background: #eee;
    color: #222;
}
input[type="button"]:hover, input[type="submit"]:hover {
    border: 1px solid #000;
}
input[type="button"][disabled], input[type="submit"][disabled] {
    border: 1px solid #aaa;
    color: #ccc;
}
input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0.5em;
    background: #fff;
    color: #111;
    min-width: 4em;
}
/* UI top margin */
input, label, textarea {
    margin-top: 0.5rem;
}
/* space between UI elements */
input+input, input+label, label+input, label+label {
    margin-left: 0.75rem;
}

/* checkbox label */
label {
    display: inline-block;
    user-select: none;
}

/* comment area */
.igo-comment-pre {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.5em;
    height: 2em;
    overflow: auto;
}
.igo-comment-textarea {
    width: 100%;
    height: 2em;
}
